<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dynamit_2.4" version="1.0.6" targetFramework="net461" />
  <package id="EPPlus" version="4.5.2.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="RESTar.SQLite_2.4" version="1.0.3" targetFramework="net461" />
  <package id="RESTar_2.4" version="1.0.2" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.109.2" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>